/* index.css  */
body {
    font-family: Arial, sans-serif;
    background: url('./image/page.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    /* backdrop-filter: blur(0px); */
}

.container {
    background:rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    box-sizing: border-box;
   
}

h1 {
    text-align: center;
    color: #333;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.input-group input[type="text"], .input-group input[type="date"], .input-group input[type="url"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 90%;
    
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    width: 90%;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li.completed {
    text-decoration: line-through;
    color: #6c757d;
}

li span.due-date {
    font-size: 0.9em;
    color: #999;
    margin-top: 5px;
}

li a {
    margin-top: 5px;
    color: #007bff;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

li button {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.edit, .delete, .complete {
    padding: 5px 10px;
    border-radius: 5px;
}

.edit {
    background-color: #ffc107;
    color: white;
}

.edit:hover {
    background-color: #e0a800;
}

.delete {
    background-color: #dc3545;
    color: white;
}

.delete:hover {
    background-color: #c82333;
}

.complete {
    background-color: #28a745;
    color: white;
}

.complete:hover {
    background-color: #218838;
}
